<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body><h1 id="button_show">login box</h1>
<script id="login_box" type="text/template">
    <div><%= _top %></div>
    <div><%= _content %>

    </div>
    <div><%= _bottom %></div>
</script>

<script id="template" type="text/template">
</script>

<script src="js/underscore.js"></script>
<script src="js/jquery.js"></script>
<script src="js/backbone.js"></script>
<script src="js/mail/app.js"></script>



</body>
</html>